#gamecontainer {
  width: 640px;
  height: 480px;
  background: url(../images/splashscreen.png);
  border: 1px solid black;
}

.gamelayer {
  width: 640px;
  height: 480px;
  position: absolute;
  display: none;
}

